<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <h3>Task Manager</h3>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="/users" class="nav-link px-2">Users</a></li>
      <% if (!isGuest) { %>
        <li><a href="/statuses" class="nav-link px-2">Statuses</a></li>
        <li><a href="/labels" class="nav-link px-2">Labels</a></li>
        <li><a href="/tasks" class="nav-link px-2">Tasks</a></li>
      <% } %>
    </ul>
    <% if (isGuest) { %>
     <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2">
        <a class="nav-link px-2 link-secondary" href="/session/new">
          Login
        </a>
      </button>
      <button type="button" class="btn btn-primary">
        <a class="nav-link px-2 link-light" href="/users/new">
          Sign-up
        </a>
      </button>
    <% } else { %>
      <div class="col-md-3 text-end">
        <form action="/session?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-primary">Logout</button>
        </form>
      </div>
    <% } %> 
    
    </div>
</header>
